.wrapper {
  display: grid;
  place-items: center;
  height: 100%;
}

.calculator {
  --color-primary-100: #d7ccfb;
  --color-primary-400: #7754f6;
  --color-primary-500: #6236f5;

  --color-surface-0: #ffffff;
  --color-surface-50: #f9f9fb;
  --color-surface-100: #f3f2f5;
  --color-surface-300: #d9d8e0;
  --color-surface-400: #b6b2c1;
  --color-surface-600: #645d78;
  --color-surface-700: #3e345a;
  --color-surface-800: #2e244f;
  --color-surface-900: #221745;
  --color-surface-1000: #0d0231;

  --color-gray-dark: #19191b;

  --app-background-color: var(--color-surface-100);
  --expression-color: var(--color-surface-400);
  --current-operand-color: var(--color-surface-900);
  --function-text-color: var(--color-gray-dark);
  --function-background-color: var(--color-surface-300);
  --function-background-color-active: var(--color-surface-400);
  --digit-text-color: var(--color-gray-dark);
  --digit-background-color: var(--color-surface-0);
  --digit-background-color-active: var(--color-surface-300);
  --operation-text-color: var(--color-surface-0);
  --operation-background-color: var(--color-primary-500);
  --operation-background-color-active: var(--color-primary-400);
  --button-history-text-color: var(--color-gray-dark);
  --button-history-background-color-hover: var(--color-primary-100);

  &.dark {
    --app-background-color: var(--color-surface-1000);
    --expression-color: var(--color-surface-600);
    --current-operand-color: var(--color-surface-50);
    --function-text-color: var(--color-surface-50);
    --function-background-color: var(--color-surface-700);
    --function-background-color-active: var(--color-surface-800);
    --digit-text-color: var(--color-surface-50);
    --digit-background-color: var(--color-surface-900);
    --digit-background-color-active: var(--color-surface-700);
    --button-history-text-color: var(--color-surface-0);
    --button-history-background-color-hover: var(--color-surface-900);
  }

  position: relative;
  width: 100%;
  max-width: 768px;
  min-width: 375px;
  padding: 1.25rem;
  background-color: var(--app-background-color);

  .topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 3.75rem;
    left: 0;
    width: 100%;
    padding-inline: 1.25rem;
  }

  .button-history {
    display: inline-grid;
    place-content: center;
    width: 2.5rem;
    height: 2.5rem;
    color: var(--button-history-text-color);
    border-radius: 0.5rem;
    transition: background-color 0.2s ease-in-out;
    @media (any-hover: hover) {
      &:hover {
        background-color: var(--button-history-background-color-hover);
      }
    }
  }

  .theme-switcher {
    margin-inline: auto;
  }

  .display {
    margin-block-end: 1rem;
    padding-block-start: 18.75rem;
    text-align: right;
  }

  .expression {
    font-size: 2.5rem;
    line-height: 1.28;
    color: var(--expression-color);
  }

  .current-operand {
    font-size: 4.5rem;
    line-height: 1.3;
    color: var(--current-operand-color);
  }

  .keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  .key {
    display: inline-grid;
    place-content: center;
    height: 4.5rem;
    font-size: 2rem;
    line-height: 1.25;
    border-radius: 1.5rem;
    cursor: default;
    transition: background-color 0.2s ease-in-out;
  }

  .function {
    color: var(--function-text-color);
    background-color: var(--function-background-color);
    &:active {
      background-color: var(--function-background-color-active);
    }
  }

  .digit {
    color: var(--digit-text-color);
    background-color: var(--digit-background-color);
    &:active {
      background-color: var(--digit-background-color-active);
    }
  }

  .operation {
    color: var(--operation-text-color);
    background-color: var(--operation-background-color);
    &:active {
      background-color: var(--operation-background-color-active);
    }
  }
}
